obj/project.assets.json
obj/project.nuget.cache
obj/WbcDemo.csproj.nuget.dgspec.json
obj/WbcDemo.csproj.nuget.g.props
obj/WbcDemo.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/WbcDemo.AssemblyInfo.cs
obj/Debug/net5.0/WbcDemo.AssemblyInfoInputs.cache
obj/Debug/net5.0/WbcDemo.assets.cache
obj/Debug/net5.0/WbcDemo.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WbcDemo.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WbcDemo.csprojAssemblyReference.cache
obj/Debug/net5.0/WbcDemo.dll
obj/Debug/net5.0/WbcDemo.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/WbcDemo.genruntimeconfig.cache
obj/Debug/net5.0/WbcDemo.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/WbcDemo.pdb
obj/Debug/net5.0/WbcDemo.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/ref/WbcDemo.dll
obj/Debug/net5.0/staticwebassets/WbcDemo.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/WbcDemo.StaticWebAssets.xml
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/WbcDemo.deps.json
bin/Debug/net5.0/WbcDemo.dll
bin/Debug/net5.0/WbcDemo.exe
bin/Debug/net5.0/WbcDemo.pdb
bin/Debug/net5.0/WbcDemo.runtimeconfig.dev.json
bin/Debug/net5.0/WbcDemo.runtimeconfig.json
bin/Debug/net5.0/ref/WbcDemo.dll
